* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --background: rgb(232, 252, 252);
  --primary: #00adad;
  --button: linear-gradient(0deg, rgb(1, 116, 116) 0%, rgb(95, 253, 253) 100%);
  --shadow: 0 0 3px var(--primary);
}

body{
  min-width: 400px;
}
nav menu {
  list-style: none;
}

/* HEADER */

header {
  box-shadow: 0 0 3px var(--primary);
  color: var(--primary);
}

header form {
  width: fit-content;
  box-shadow: var(--shadow);
}

header form label {
  display: none;
}

header form input {
  padding: 0.2rem;
  outline: none;
  border: none;
}

header form button {
  border: none;
  background: var(--button);
  color: white;
  padding: 0.2rem;
  font-weight: bold;
}

header menu a {
  display: inline-block;
  font-size: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-size: contain;
}

header menu a[href*="wishlist"] {
  background-image: url("icons/heart.png");
}

header menu a[href*="cart"] {
  background-image: url("icons/cart.png");
}
header menu a[href*="profile"] {
  background-image: url("icons/user.png");
}

/* NAV*/

body > nav menu a {
  color: var(--primary);
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
}

body > nav menu a:hover {
  background: var(--background);
}

/* MAIN */

main {
  background: var(--background);
  padding: 1rem;
}

article {
  background: white;
  box-shadow: var(--shadow);
  width: 10rem;
  height: 20rem;
  border-radius: 10px;
  overflow: hidden;
}

article img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

article *:not(img) {
  margin: 0.5rem 1rem;
}

article p.price {
  text-align: right;
}

/* Footer */

footer a {
  color: var(--primary);
}


@media (min-width: 400px) {
  header {
    z-index: 0;
    padding: 0 2rem;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-flow: row wrap;
  }

  header h1 {
    flex: 1 1 100%;
    padding: 2rem;
  }
  form {
    flex: 0 1 60%;
    display: flex;
    justify-content: space-between;
  }

  nav {
    flex: 1 0 60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  
  menu{
    flex: 0 1 70%;
    display: flex;
    justify-content: center;
  }

  nav[aria-label="usuario"]{
    padding: 1rem 0;
    flex: 0 0 100%;
  }

  nav > menu li:nth-child(n+2) {
    margin-left: 5%;
  }  
  body > nav menu li:hover {
    background: var(--background);
  }
  
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    column-gap: 30px;
    row-gap: 15px;
  }

  article{
    width: 100%;
  }

  footer{
    text-align: center;
    padding: 5px;
  } 

}

@media (min-width: 769px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {

  header{ 
    grid-area: header;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0;
    margin-bottom: 0;
  }

  header h1 {
    flex: 0 1 10%;

  }
  form {
    flex: 0 1 30%;
    
  }

  nav[aria-label="usuario"], menu{
    flex:  0 1 10%;

  }
  nav[aria-label="categorias"]{
    grid-area: categorias;
    padding: 0;
  }
  nav[aria-label="categorias"] menu{
    flex: 0 1 auto;
  }
  nav[aria-label="categorias"] menu a{
    margin-left: 20px;
  }
  
  article {
    width: 10rem;
    height: 15rem;
    margin: 20px 0px
  }

  article:nth-child(n+7) {
    align-self: flex-start;
  }
  
  main{
    grid-area: main;
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  footer {
    grid-area: footer;
  }

  body > nav menu  {
    display: block
  }

  body > nav menu li {
    margin: 50px auto;
    font-size: 20px;
  }

  nav > menu li:nth-child(n+2) {
    margin-left: 0%;
  }
  nav[aria-label="usuario"] > menu li:nth-child(n+2) {
    margin-left: 20%;
  }

  body{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto minmax(auto);

    grid-template-areas: 
    "header header header header header header header"
    "categorias main main main main main main"
    "footer footer footer footer footer footer footer";
  }

}