
html {
    --primary: #6395EC;
    --secondary: #8bb0f5be;
    --tertiary: #D8E4FD;
    --theadText: #ffffff;
}
body{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    background-color: var(--primary);
    color: var(--theadText);
    padding: 10px;
    text-align: center;
}

main{
    width: 95%;
    margin: 0 auto;
}

section > h2{
    color: var(--primary);
}

ul > li {
    list-style: circle;
}

li:nth-child(-4n+5){
    text-decoration: underline;
    font-weight: bolder;
}

table{
    text-align: center;
    font-size: 18px;
    border-collapse: separate;
}

thead{
    background-color: var(--primary);
    color: var(--theadText);
}

td,th{
    padding: 10px;
}

tbody>th, #descanso{
    font-weight: bolder;
    text-transform: uppercase;
}

tbody tr:nth-child(even) > th:nth-child(odd){
    background-color: var(--primary);
}

tbody tr:nth-child(odd) > th:nth-child(odd){
    background-color: var(--secondary);
}

tbody tr:nth-child(odd) > td{
    background-color: var(--tertiary);
}
tbody tr:nth-child(even) > td{
    background-color: var(--secondary);
}


